<div class="row w-screen flex justify-center items-center">
  <div class="col-lg-8 offset-lg-2">
    <div id="new_comment %>">
      <%= form_with model: comment, url: [post, comment], local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :body, class: "font-bold" %>
        <%= f.text_area :body, class: 'form-control mb-10 w-96 h-40', id: 'js-new-comment-body', row: 4, placeholder: Comment.human_attribute_name(:body) %>
        <%= f.submit t('defaults.post'), class: 'btn mb-10 w-96' %>
      <% end %>
    </div>
  </div>
</div>