<div class="navbar bg-base-100 bg-neutral text-neutral-content">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl"><%= link_to ' アニメレビュー', root_path %></a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a><%= link_to (t 'posts.new.title'), new_post_path %></a></li>
      <li><a><%= link_to (t 'posts.index.title'), posts_path %></a></li>
      <li><a><%= link_to (t 'posts.bookmarks.title'), bookmarks_posts_path %></a></li>
      <li tabindex="0">
        <a>
        <%= current_user.name %>
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2 bg-base-100 bg-neutral text-neutral-content">
          <li><a>マイページ</a></li>
          <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
