<header>
  <div class="navbar bg-base-100 bg-neutral text-neutral-content">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl"><%= link_to ' アニメレビュー', root_path %></a>
    </div>
    <div class="flex-none gap-2">
      <div class="menu menu-horizontal px-1">
          <ul class="flex justify-center items-center">
            <li><%= link_to (t 'posts.new.title'), new_post_path %></li>
            <li><%= link_to (t 'posts.index.title'), posts_path %></li>
            <li><%= link_to (t 'posts.rankings.title'), rankings_path %></li>
            <li><%= link_to (t 'posts.bookmarks.title'), bookmarks_posts_path %></li>
          </ul>  
      </div>

      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <%= image_tag current_user.avatar_url, size: '40x40', class: 'rounded-circle mr15'%>
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 bg-neutral text-neutral-content rounded-box w-52">
          <li><a><%= current_user.name %></a></li>
          <li><%= link_to (t 'defaults.profile'), profile_path %></li>
          <li><%= link_to (t 'defaults.logout'), logout_path, data: { turbo_method: :delete } %></li>
        </ul>
      </div>
    </div>
  </div>
</header>