<section class="card max-w-sm bg-gray-100 border border-gray-800 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 my-10">
    <div class="p-5 break-words">
      <div class="flex align-middle">
      <p class="mb-5 font-bold text-black dark:text-gray-400 mr-4"><%= post.user.name %></p>
      <% unless current_user.own?(post) %>   
        <%= render 'bookmarks/bookmark_button', post: post  %>
      <% end %>
      </div>
      <h1 class="mb-5 text-2xl font-bold"><%= link_to post.title, post_path(post) %></h1>
      <p class="mb-5 font-bold text-black dark:text-gray-400 "><%= post.body %></p>
      <p class="mb-5 font-normal text-black dark:text-gray-400"><%= l post.created_at, format: :long%></p>
  
      <div class="flex justify-center">
        <%= image_tag post.image_url, class: "h-80 w-80"%>  
      </div>
      <div class="p-5" >
      <% post.tags.each do |tag| %>
        <span class="badge"><%= link_to tag.name,search_tag_path(tag_id: tag.id)%></span>
      <% end %>
      </div>     
    </div>
</section>