<section class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 my-10">
    <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-400 dark:text-white"><%= link_to post.title, post_path(post) %></h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= post.user.name %></p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= post.body %></p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= l post.created_at, format: :long%></p>
      <% unless current_user.own?(post) %>   
        <%= render 'bookmarks/bookmark_button', post: post  %>
      <% end %>
      <%= image_tag post.image_url, class: 'w-full h-full flex justify-center items-center' %>  
      <div class="p-5" >
      <% post.tags.each do |tag| %>
        <span class="badge"><%= tag.name %></span>
      <% end %>
      </div>     
    </div>
</section>