<section class="text-gray-600 body-font">
  <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 my-10">
    <a href="#"><img class="rounded-t-lg" src="assets/images/top2.jpg" alt="" /></a>
    <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-400 dark:text-white"><%= link_to post.title, post_path(post) %></h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= post.user.name %></p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= post.body %></p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= l post.created_at, format: :long%></p>
      
        <%= render 'bookmark_button', post:post %>
      
      <%= image_tag post.image_url, class: 'card-img-top', size: '300x200' %>
    </div>
  </div>
</section>
