<section class="card max-w-sm bg-gray-100 border border-gray-800 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 my-10">
    <div class="p-5 break-words">
      <div class="flex justify-center">
        <%= image_tag post.image_url, class: "h-80 w-80"%>  
      </div>
      <h1 class="my-8 text-3xl flex justify-center font-bold"><%= link_to post.title, post_path(post) %></h1>
      <p class="my-8 text-2xl"><%= post.body %></p>
      <div class="flex items-center my-2">
        <div class="w-10 h-10 rounded-full overflow-hidden mr-4">
          <%= image_tag post.user.avatar_url, size: '40x40', class: 'mr-15' %>
        </div>
        <div class="flex-grow">
          <p class="mb-1"><%= post.user.name %></p>
        </div>
        <% unless current_user.own?(post) %>
          <div class="ml-auto mb-1">
            <%= render 'bookmarks/bookmark_button', post: post %>
          </div>
        <% end %>
      </div>
      <div class="p-5" >
      <% post.tags.each do |tag| %>
        <span class="badge"><%= link_to tag.name,search_tag_path(tag_id: tag.id)%></span>
      <% end %>
      </div>     
    </div>
</section>