<% content_for(:title, @post.title) %>
<div class="pt-5 break-words bg-gray-400">
  <div class="row mb-3 w-screen flex justify-center">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-4xl font-bold my-14 flex justify-center"><%= t('.title') %></h1>
      <!-- 掲示板内容 -->   
      <section class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 my-10">
        <div class="p-5">
          <%= image_tag @post.image_url, class: 'w-full h-full flex justify-center items-center' %>
          <h5 class="my-8 text-3xl font-bold flex justify-center"><%= link_to @post.title, post_path(@post) %></h5>
          <p class="my-8 text-2xl"><%= @post.body %></p>

          <div class="flex items-center my-2">
            <div class="w-10 h-10 rounded-full overflow-hidden mr-4">
              <%= image_tag @post.user.avatar_url, size: '40x40', class: 'mr-15' %>
            </div>
            <div class="flex-grow">
              <p class="mb-1"><%= @post.user.name %></p>
            </div>
            <% unless current_user.own?(@post) %>
              <div class="ml-auto mb-1">
                <%= render 'bookmarks/bookmark_button', post: @post %>
              </div>
            <% end %>
          </div>

          <div class="flex items-center justify-between">
            <p class="pr-16"><%= l @post.created_at, format: :long %></p>
            <%= render 'crud_menus', post: @post if current_user.own?(@post) %>
          </div>
          <div class="p-5" >
            <% @post.tags.each do |tag| %>
              <span class="badge"><%= link_to tag.name,search_tag_path(tag_id: tag.id)%></span>
            <% end %>
          </div>         
        </div>
      </section>
    </div>
  </div>
  <!-- コメントフォーム -->
  <%= render 'comments/form', { post: @post, comment: @comment } %>
  <!-- コメントエリア -->
      <%= render 'comments/comments', { comments: @comments } %>
</div>